	[submodule "tools/SMC-ObjectDetection"]
		path = tools/SMC-ObjectDetection
		url = https://github.com/MiruHeon/SMC-ObjectDetection.git
		branch = main
[submodule "SMC-ObjectDetection"]
	path = SMC-ObjectDetection
	url = https://github.com/MiruHeon/SMC-ObjectDetection
