
[submodule "tools/SMC-ObjectDetection"]
	path = tools/SMC-ObjectDetection
	url = https://github.com/MiruHeon/SMC-ObjectDetection
[submodule "tools/SMC-CamFireAlarm"]
	path = tools/SMC-CamFireAlarm
	url = https://github.com/MiruHeon/SMC-CamFireAlarm
[submodule "tools/SMC-VisualCore"]
	path = tools/SMC-VisualCore
	url = https://github.com/MiruHeon/SMC-VisualCore
